<html>
    <head>
        <title>Dshtanakova blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Dshtanakova Blog</a></h1>
        </div>

        <div>
            <p>published: 19.05.2019, 18:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi there! My name is Daria. It`s my first test post.</p>
        </div>

        <div>
            <p>published: 19.05.2019, 18:00</p>
            <h2><a href="">My second post</a></h2>
            <p>It`s my second post test.</p>
        </div>
    </body>
</html>